body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  display: block;
  background: #ffffff;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  color: #000000;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu a:hover {
  border: solid 0.04rem red;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao {
  background: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}

.detalhe::before {
  content: "";
  display: inline-block;
  width: 3.75rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 1.875rem;
  left: 468px;
}

/*
.detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}*/

.botao {
  background: #e21;
  color: #fff;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url(./img/onda.svg);
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
  padding-left: 0px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
}

.vantagens-item p {
  grid-column: 2;
}

.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens-item:hover {
  border-left: solid 0.3rem #900;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
